<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253715343876-1in561aj3hvid5hdgdgshgc45sqv651f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253715343876-1in561aj3hvid5hdgdgshgc45sqv651f</string>
	<key>API_KEY</key>
	<string>AIzaSyB9MwzR9RBph3NbvNMAOJvt3tIoDSgrakk</string>
	<key>GCM_SENDER_ID</key>
	<string>253715343876</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.ac.tu.dome.cha.kulnis.Instagram-Clone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-76acc</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-76acc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253715343876:ios:8640f9a1b760f67ec8a351</string>
</dict>
</plist>